In [1]:
# Задача 40: Работать с файлом california_housing_train.csv. Определить среднюю стоимость дома, 
# где кол-во людей от 0 до 500 (population)

In [4]:
import pandas as pd

df = pd.read_csv("california_housing_test.csv")

df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [111]:
df.shape

(3000, 9)

In [5]:
df[df["population"] < 501]["median_house_value"]

3       330000.0
15      153100.0
16      181300.0
34      183800.0
51       47500.0
          ...
2929    179200.0
2947    140600.0
2960    500001.0
2992    500001.0
2998    162500.0
Name: median_house_value, Length: 305, dtype: float64

In [ ]:
# Задача 42: Узнать какая максимальная households в зоне минимального значения population |

In [6]:
df["population"].min()

5.0

In [8]:
df[df["population"] == 5.0]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.536,275000.0

In [7]:
df[df["population"] == 5.0]["households"].max()

3.0